#sf_admin_container ul li.sf_admin_action_view a
{
  background: url(../images/view.png) no-repeat 0 0;
}

#sf_admin_container ul li.sf_admin_action_rich a
{
  background: url(../images/rich.png) no-repeat 0 0;
}

#sf_admin_container ul li.sf_admin_action_tick a
{
  background: url(../images/evaluate.png) no-repeat 0 0;
}

#sf_admin_container ul li.sf_admin_action_reset a
{
  background: url(../images/reset.png) no-repeat 0 0;
}

#sf_admin_container ul li.sf_admin_action_markdown a
{
  background: url(../images/markdown.png) no-repeat 0 0;
}

#sf_admin_container ul li.sf_admin_action_fill a
{
  background: url(../images/fill.png) no-repeat 0 0;
}

#sf_admin_container ul li.sf_admin_action_toggle a
{
  background: url(../images/toggle.png) no-repeat 0 0;
}

#sf_admin_container ul li.sf_admin_action_back a
{
  background: url(../images/back.png) no-repeat 0 0;
}


#sf_admin_container ul li.sf_admin_action_approve a
{
  background: url(../images/approve.png) no-repeat 0 0;
}


#sf_admin_container ul li.sf_admin_action_reject a
{
  background: url(../images/enhancements.png) no-repeat 0 0;
}
