#sf_admin_container ul li.sf_admin_action_view a
{
  background: url(../images/view.png) no-repeat 0 0;
}

#sf_admin_container ul li.sf_admin_action_rich a
{
  background: url(../images/rich.png) no-repeat 0 0;
}

#sf_admin_container ul li.sf_admin_action_tick a
{
  background: url(../images/evaluate.png) no-repeat 0 0;
}

#sf_admin_container ul li.sf_admin_action_items a
{
  background: url(../images/items.png) no-repeat 0 0;
}

#sf_admin_container ul li.sf_admin_action_reset a
{
  background: url(../images/reset.png) no-repeat 0 0;
}

#sf_admin_container ul li.sf_admin_action_export a
{
  background: url(../images/export.png) no-repeat 0 0;
}

#sf_admin_container ul li.sf_admin_action_help a
{
  background: url(../images/help.png) no-repeat 0 0;
}

#sf_admin_container ul li.sf_admin_action_fill a
{
  background: url(../images/fill.png) no-repeat 0 0;
}

#sf_admin_container ul li.sf_admin_action_toggle a
{
  background: url(../images/toggle.png) no-repeat 0 0;
}

#sf_admin_container ul li.sf_admin_action_back a
{
  background: url(../images/back.png) no-repeat 0 0;
}


#sf_admin_container ul li.sf_admin_action_approve a
{
  background: url(../images/approve.png) no-repeat 0 0;
}


#sf_admin_container ul li.sf_admin_action_reject a
{
  background: url(../images/enhancements.png) no-repeat 0 0;
}


#sf_admin_container ul li.sf_admin_action_append a
{
  background: url(../images/append.png) no-repeat 0 0;
}

#sf_admin_container ul li.sf_admin_action_replace a
{
  background: url(../images/replace.png) no-repeat 0 0;
}

#sf_admin_container ul li.sf_admin_action_import a
{
  background: url(../images/import.png) no-repeat 0 0;
}

#sf_admin_container ul li.sf_admin_action_submit a
{
  background: url(../images/submit.png) no-repeat 0 0;
}

#sf_admin_container ul li.sf_admin_action_optional a
{
  background: url(../images/optional.png) no-repeat 0 0;
}

#sf_admin_container ul li.sf_admin_action_yaml a
{
  background: url(../images/yaml.png) no-repeat 0 0;
}

#sf_admin_container ul li.sf_admin_action_doc a
{
  background: url(../images/word.png) no-repeat 0 0;
}

#sf_admin_container ul li.sf_admin_action_odt a
{
  background: url(../images/openoffice.png) no-repeat 0 0;
}

#sf_admin_container ul li.sf_admin_action_pdf a
{
  background: url(../images/pdf.png) no-repeat 0 0;
}
#sf_admin_container ul li.sf_admin_action_rtf a
{
  background: url(../images/rtf.png) no-repeat 0 0;
}

#sf_admin_container ul li.sf_admin_action_publish a
{
  background: url(../images/publish.png) no-repeat 0 0;
}

#sf_admin_container ul li.sf_admin_action_unpublish a
{
  background: url(../images/unpublish.png) no-repeat 0 0;
}
#sf_admin_container ul li.sf_admin_action_unlink a
{
  background: url(../images/link_break.png) no-repeat 0 0;
}
#sf_admin_container ul li.sf_admin_action_link a
{
  background: url(../images/link.png) no-repeat 0 0;
}
#sf_admin_container ul li.sf_admin_action_save a
{
  background: url(../images/save.png) no-repeat 0 0;
}
#sf_admin_container ul li.sf_admin_action_saveandback a
{
  background: url(../images/saveandback.png) no-repeat 0 0;
}
#sf_admin_container ul li.sf_admin_action_saveandnext a
{
  background: url(../images/saveandnext.png) no-repeat 0 0;
}

#sf_admin_container ul li.sf_admin_action_users a
{
  background: url(../images/users.png) no-repeat 0 0;
}
#sf_admin_container ul li.sf_admin_action_userchecks a
{
  background: url(../images/userchecks.png) no-repeat 0 0;
}

#sf_admin_container ul li.sf_admin_action_undelete a
{
  background: url(../images/undelete.png) no-repeat 0 0;
}

#sf_admin_container ul li.sf_admin_action_upload a
{
  background: url(../images/upload.png) no-repeat 0 0;
}

#sf_admin_container ul li.sf_admin_action_googleapps a
{
  background: url(../images/googleapps.png) no-repeat 0 0;
}

#sf_admin_container ul li.sf_admin_action_execute a
{
  background: url(../images/execute.png) no-repeat 0 0;
}

#sf_admin_container ul li.sf_admin_action_schoolmesh a
{
  background: url(../images/schoolmesh.png) no-repeat 0 0;
}
#sf_admin_container ul li.sf_admin_action_login a
{
  background: url(../images/login.png) no-repeat 0 0;
}
#sf_admin_container ul li.sf_admin_action_posix a
{
  background: url(../images/posix.png) no-repeat 0 0;
}
#sf_admin_container ul li.sf_admin_action_samba a
{
  background: url(../images/samba.png) no-repeat 0 0;
}

#sf_admin_container ul li.sf_admin_action_moodle a
{
  background: url(../images/moodle.png) no-repeat 0 0;
}

#sf_admin_container ul li.sf_admin_action_googleapps a
{
  background: url(../images/googleapps.png) no-repeat 0 0;
}

#sf_admin_container ul li.sf_admin_action_ldapnfs a
{
  background: url(../images/ldapnfs.png) no-repeat 0 0;
}
#sf_admin_container ul li.sf_admin_action_passwordreset a
{
  background: url(../images/password.png) no-repeat 0 0;
}
#sf_admin_container ul li.sf_admin_action_log a
{
  background: url(../images/log.png) no-repeat 0 0;
}

#sf_admin_container ul li.sf_admin_action_flag_red a
{
  background: url(../images/flag_red.png) no-repeat 0 0;
}

#sf_admin_container ul li.sf_admin_action_flag_green a
{
  background: url(../images/flag_green.png) no-repeat 0 0;
}
#sf_admin_container ul li.sf_admin_action_flag_gray a
{
  background: url(../images/flag_gray.png) no-repeat 0 0;
}

#sf_admin_container ul li.sf_admin_action_grouptoggle a
{
  background: url(../images/group.png) no-repeat 0 0;
}

#sf_admin_container ul li.sf_admin_action_download a
{
  background: url(../images/download.png) no-repeat 0 0;
}

#sf_admin_container ul li.sf_admin_action_opendir a
{
  background: url(../images/opendir.png) no-repeat 0 0;
}

#sf_admin_container ul li.sf_admin_action_updir a
{
  background: url(../images/updir.png) no-repeat 0 0;
}

#sf_admin_container ul li.sf_admin_action_email a
{
  background: url(../images/email.png) no-repeat 0 0;
}

#sf_admin_container ul li.sf_admin_action_all a
{
  background: url(../images/all.png) no-repeat 0 0;
}
#sf_admin_container ul li.sf_admin_action_restrict a
{
  background: url(../images/restrict.png) no-repeat 0 0;
}
#sf_admin_container ul li.sf_admin_action_applytoall a
{
  background: url(../images/applytoall.png) no-repeat 0 0;
}

#sf_admin_container ul li.sf_admin_action_syllabus a
{
  background: url(../images/syllabus.png) no-repeat 0 0;
}

#sf_admin_container .alert
{
  margin: 4px 0;
  padding: 4px 4px 4px 30px;
  background: url(../images/error.png) no-repeat 10px 4px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: #fa1;
}



div.check_results
{
  padding-left: 40px;
}

div.module_content
{
  padding-left: 40px;
  margin-bottom: 20px;
  margin-top: 20px;
  border: medium double #888888;
}

#breadcrumbs {
text-align:left;
vertical-align:middle;
font-size:12px;
white-space:nowrap;
background:#ccf;
}

#schoolmesh_alerts {
text-align:left;
vertical-align:middle;
font-size:14px;
font-weight: bold;
white-space:nowrap;
background:#e00;
}

#general_alerts {
text-align:left;
vertical-align:middle;
font-size:14px;
font-weight: bold;
white-space:nowrap;
background:#e00;
}

.schoolmesh_profile_notices {
text-align:left;
color: #e00;
vertical-align:middle;
font-weight: bold;
}


.chosen
{
font-weight: bold;	
background-color: #e7eef6;
}

.unchosen
{
font-weight: normal;
}

.deadline_notyetover
{
	
}

.deadline_completed
{
	color: green;
}

.deadline_overdue
{
	color: red;
}

.notcurrent
{
	background-color: gray;
}
