# This file contains settings for schoolmesh-related shell scripts (schoolmesh_*).
# It must be sourced in order to have a common configuration.

if [ $# -eq 0 ]
	then
		echo "This script is a wrapper. See schoolmesh(1) for details."
		exit 1
	fi

CONFIG_READ=1
POSIX_HOMEDIR=/home/testhome
POSIX_BASEFOLDER=Mattiussi
POSIX_BASEFOLDER_OWNER=root:root

# DO NET EDIT PASS THIS LINE

function checkUsername()
{
getent passwd "$1" > /dev/null

if [ $? -ne 0 ] ; then
	echo "Not a user: $1"
	exit 1
fi	
}

function checkNotUsername()
{
getent passwd "$1" > /dev/null

if [ $? -eq 0 ] ; then
	echo "Already a user: $1"
	exit 2
fi	
}

function checkGroup()
{
getent group "$GROUP" > /dev/null

if [ $? -ne 0 ] ; then
	echo "Not a group: $GROUP"
	exit 3
fi
}

function checkShell()
{
if [ $(grep -c "^$1\$" /etc/shells) -ne 1 ] ; then
	echo "Not a valid shell: $1"
	exit 7
fi
}

function checkString()
{
if [ -z "$1" ] ; then
	echo "Not a valid string: $1"
	exit 11
fi
}


function checkDirectory()
{
if [ ! -d "$1" ] ; then
	echo "Not a directory: $1"
	exit 12
fi
}

function checkNotFile()
{
if [ -e "$1" ] ; then
	echo "File exists: $1"
	exit 13
fi
}



